/* $Id: style.css,v 0.0.0.1 22/04/2006 02:02:07 mdb Exp $
 * $Author: mdb $
 *
 * www.kimera-lab.com Stylesheet "default"
 * Client: ALL
 *
 * css released under Creative Commons License - http://creativecommons.org/licenses/by-nc-sa/2.0/
 *
 * Copyright Kimera Team (c) 2006
 * All associated graphics Copyright Kimera Team (c) 2006 
 *
 * You may not reproduce it elsewhere without the prior written permission of the author.
 * However, feel free to study the code and use techniques you learn from it elsewhere.
*/

/* Page Style */

body
{
 		font: 10px geneva, Verdana, arial, sans-serif;
		color: #333333;
}

a
{
 		font: 10px geneva, Verdana, arial, sans-serif;
        color: #666666;
        font-size: 8pt;
	    text-decoration: none;
	    font-weight: bold;
}

a:link, a:visited, a:active
{
        font: 10px geneva, verdana, arial, sans-serif;
        font-weight: bold;
        font-size: 8pt;
        color: #666666;
	    text-decoration: none;
}

a:hover
{
        font: 10px geneva, verdana, arial, sans-serif;
        font-weight: bold;
        color: #EFC036;
        font-size: 8pt;
        text-decoration: none;
        border-bottom: 1px dotted #FFFFFF;
}

.intro
{
		vertical-align: middle;
	    text-align: center;
}

.footer
{
	    text-align: center;
}